{% extends "subscribed_user/sub_base.html" %}
{% block body_class %}blur-page{% endblock %}

{% block content %}
    <div class="contact-container" >
        <h1>Help</h1>
        <form action="/submit-form" method="post" class="contact-form">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>

            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <label for="message">Your Message:</label>
            <textarea id="message" name="message" placeholder="Write your message here..." rows="5" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>
{% endblock %}
